**Classifications**

In [1]:
import numpy as np
import pandas as pd

In [2]:
iris_df = pd.read_csv('./ml_dataset/iris.csv')
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [3]:
iris_df.tail()

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
95   96            5.7           3.0            4.2           1.2        1
96   97            5.7           2.9            4.2           1.3        1
97   98            6.2           2.9            4.3           1.3        1
98   99            5.1           2.5            3.0           1.1        1
99  100            5.7           2.8            4.1           1.3        1

In [4]:
iris_df.shape

(100, 6)

In [5]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             100 non-null    int64
 1   SepalLengthCm  100 non-null    float64
 2   SepalWidthCm   100 non-null    float64
 3   PetalLengthCm  100 non-null    float64
 4   PetalWidthCm   100 non-null    float64
 5   Species        100 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 4.8 KB

In [6]:
#drop Id
iris_df = iris_df.drop('Id', axis=1)
iris_df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [7]:
#X y split
X = iris_df.drop('Species', axis=1)
y = iris_df['Species']

In [10]:
#Test Train Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=42)
X_train.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
11            4.8           3.4            1.6           0.2
47            4.6           3.2            1.4           0.2
85            6.0           3.4            4.5           1.6
28            5.2           3.4            1.4           0.2
93            5.0           2.3            3.3           1.0

In [11]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [12]:
model.fit(X_train, y_train)
print('Model Trained')

Model Trained

In [13]:
y_pred = model.predict(X_test)
y_pred[:5]

array([1, 1, 1, 0, 0])

In [14]:
#Accuracy Score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0

**KNN**

In [15]:
import numpy as np
import pandas as pd

In [16]:
iris_df = pd.read_csv('./ml_dataset/iris.csv')
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [17]:
iris_df.shape

(100, 6)

In [18]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             100 non-null    int64
 1   SepalLengthCm  100 non-null    float64
 2   SepalWidthCm   100 non-null    float64
 3   PetalLengthCm  100 non-null    float64
 4   PetalWidthCm   100 non-null    float64
 5   Species        100 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 4.8 KB

In [19]:
#preprocess
iris_df = iris_df.drop('Id', axis=1)

X = iris_df.drop('Species', axis=1)
y = iris_df['Species']

In [20]:
#test train split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.25,
                                                    random_state=42)

In [21]:
#algorithm
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier()

In [22]:
neigh.fit(X_train, y_train)
print('Model Trained')

Model Trained

In [23]:
y_pred = model.predict(X_test)
y_pred[:5]

array([1, 1, 1, 0, 0])

In [24]:
#Accuracy Score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0